<h1><%= @post.title %></h1>

<ul>

    <%= @post.body %>


 


</ul>

<span><%= link "Editar", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Voltar", to: Routes.post_path(@conn, :index) %></span>
